*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;

}
.bimg1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('img1.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.nav{
    width: 40%;
    float: right;
    margin-top: 20px;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 0 12px;
    font-size: 20px;
}
.nav a:hover{
    border-bottom: 1px solid aliceblue;
}
.mid{
    width: 350px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 0 30px black;
    transition: 1s;
}
.mid:hover{
    background-color: black;
}
.mid img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 50%;
    transition: 1s;
}
.mid img:hover{
    transform: rotate(360deg);
}
.mid h1{
    color: aliceblue;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.mid p{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 15px;
}
.mid input[type="text"],input[type="password"]{
    border: none;
    outline: none;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid aliceblue;
    width: 100%;
    color: aliceblue;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 0;
}
.mid input[type = "submit"]
{
    width: 100%;
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    transition: 0.5s;
}
.mid input[type = "submit"]:hover{
    background-color: rgb(255, 31, 1);
}
